<ion-view view-title="Acceuil">
	<ion-pane class="m_content" ng-controller="MatchCtrl">
		<button class="button button-full button-positive m_button" ui-sref="match" on-swipe-left="onSwipeleft()">Match
		</button>
		<button class="button button-full button-positive m_button" ui-sref="match">Scores
		</button>
		<button class="button button-full button-positive m_button" ui-sref="match">Feuille des Missions
		</button>
		<button class="button button-full button-positive m_button" ui-sref="match">Profile
		</button>
	</ion-pane>
</ion-view>