<ion-view view-title="Feuille des Missions">
	<div class="scoreTotal">
		Score Total : {{data.score = data.scoreM1 + data.scoreM2 + data.scoreM3}}
	</div>
	<ion-content class="margHeaderMission">
		<div class="cardMission">
			<div id="penalite" class=" mission relative">
				<div id="firstGroupeP" class="relative divMission mesItem">		
				  	<label class="">Nombre de pénalité :</label>
				    <select class="" ng-change="penalite(selectPenalite)" ng-model="selectPenalite">
				      <option ng-repeat="i in data.penalite" value="{{i}}">{{i}}</option>
				    </select>
				</div>
			</div>
		</div>
		<hr>
		<div class="cardMission">
			<div class="title">
				<p>Mission 1</p>
				<p class="scoreMission" ng-model="scoreM1"><span>Socre : </span>{{data.scoreM1 = data.scoreM1m1 + data.choice}}</p>
			</div>
			<div id="mission1" class=" mission relative">
				<div id="firstGroupeM1" class="relative divMission item">
					<label disabled checked="false">Tablette dans les sarcophage</label>
	      			<label class="boolMission toggle disable-user-behavior"><input type="checkbox" ng-click="boolM1Click(data.boolM1)" ng-model="data.boolM1" value="20"><div class="track"><div class="handle"></div></div></label>
				</div>

				<div id="secondGroupM1" class="relative divMissionRadio">
					<ion-radio ng-model="data.choice" ng-value="20">La momie est assise sur son trône et se trouve dans le sarcophage</ion-radio>
					<ion-radio ng-model="data.choice" ng-value="50">La momie et son trône se trouvent dans la loge du gardien</ion-radio>
					<ion-radio ng-model="data.choice" ng-value="80">La momie se trouve allongée sans son trône dans le sarcophage</ion-radio>	
					<ion-radio ng-model="data.choice" ng-value="0">Autre</ion-radio>	
				</div>
			</div>
		</div>
		<hr>
		<div class="cardMission">
			<div class="title">
				<p>Mission 2</p>
				<p class="scoreMission" ng-model="scoreM2"><span>Socre : </span>{{data.scoreM2 = data.scoreM2m1 + data.scoreM2m2 + data.scoreM2m3 + data.scoreM2m4 + data.scoreM2m5}}</p>
			</div>
			<div id="mission2" class="mission relative">
				<div id="firstGroupeM2" class="relative divMission">
					<div class="mesItem">
						<div class="divLabelM2">
							<label>Personnage en dehors des couloirs du temps</label>
							<label class="scoreM2">{{data.scoreM2m1}}</label>
						</div>
						<input id="rangeM2m1" class="" type="range" min="0"  max="{{data.range1}}" value="0" step="1" ng-model="data.multiM2m1" ng-change="rangeMission2()">
					</div>
					<div class="mesItem">
						<div class="divLabelM2">
							<label>Personnage dans l'atelier / la loge</label>
							<label class="scoreM2">{{data.scoreM2m2 }}</label>
						</div>
						<input id="rangeM2m2" class="" type="range" min="0"  max="{{data.range2}}" value="0" step="1" ng-model="data.multiM2m2" ng-change="rangeMission2()">
					</div>
					<div class="mesItem">
						<div class="divLabelM2">
							<label>Tablette dans les sarcophage</label>
							<label class="scoreM2">{{data.scoreM2m3}}</label>
						</div>
						<input id="rangeM2m3" class="" type="range" min="0"  max="{{data.range3}}" value="0" step="1" ng-model="data.multiM2m3" ng-change="rangeMission2()">
					</div>
					<div class="mesItem">
						<div class="divLabelM2">
							<label>Tablette dans les sarcophage</label>
							<label class="scoreM2">{{data.scoreM2m4}}</label>
						</div>
						<input id="rangeM2m4" class="" type="range" min="0"  max="{{data.range4}}" value="0" step="1" ng-model="data.multiM2m4" ng-change="rangeMission2()">
					</div>
					<div class="mesItem">
						<div class="divLabelM2">
							<label>Tablette dans les sarcophage</label>
							<label class="scoreM2">{{data.scoreM2m5}}</label>
						</div>
						<input id="rangeM2m5" class="" type="range" min="0"  max="{{data.range5}}" value="0" step="1" ng-model="data.multiM2m5" ng-change="rangeMission2()">
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="cardMission">
			<div class="title">
				<p>Mission 3</p>
				<p class="scoreMission" ng-model="scoreM2"><span>Socre : </span>{{data.scoreM3 = data.score1M3m1 + data.score1M3m2 + data.score1M3m3 + data.score2M3m1 + data.score2M3m2 + data.score2M3m3 + data.score2M3m4}}</p>
			</div>
			<div id="mission3" class="mission relative">
				<div id="firstGroupeM3" class="relative divMission">
					<div id="questionStatut" class="mesItem">
						<label disabled checked="false">Statut Construite : {{rangeM3}}</label>
		      			<label class="boolMission toggle disable-user-behavior">
		      				<input type="checkbox"" ng-model="statutConstruite" ng-change="resetM3()">
	      					<div class="track">
	      						<div class="handle"></div>
	      					</div>
		      			</label>
					</div>
					<div id="statutNonConstruite" ng-show="!statutConstruite">
						<div class="mesItem">
							<div class="divLabelM2">
								<label>Bloc dans l'auditorium</label>
								<label class="scoreM2">{{data.score1M3m1}}</label>
							</div>
							<input id="rangeM3m2" class="" type="range" min="0"  max="{{data.rangeM3}}" value="0" step="1" ng-model="data.range1M3m1" ng-change="rangeMission3(false)">
						</div>
						<div class="mesItem">
							<div class="divLabelM2">
								<label>Bloc dans l'atelier</label>
								<label class="scoreM2">{{data.score1M3m2}}</label>
							</div>
							<input id="rangeM3m3" class="" type="range" min="0"  max="{{data.rangeM3}}" value="0" step="1" ng-model="data.range1M3m2" ng-change="rangeMission3(false)">
						</div>
						<div class="mesItem">
							<div class="divLabelM2">
								<label>Bloc dans la salle de la Statut</label>
								<label class="scoreM2">{{data.score1M3m3}}</label>
							</div>
							<input id="rangeM3m4" class="" type="range" min="0"  max="{{data.rangeM3}}" value="0" step="1" ng-model="data.range1M3m3" ng-change="rangeMission3(false)">
						</div>
					</div>
					<div id="statutConstruite" ng-show="statutConstruite">
						<div class="mesItem">
							<div class="divLabelM2">
								<label>Statut dans l'atelier</label>
								<label class="scoreM2">{{data.score2M3m1}}</label>
							</div>
							<input id="rangeM3m2" class="" type="range" min="0"  max="{{data.rangeM3}}" value="0" step="1" ng-model="data.range2M3m1" ng-change="rangeMission3(true)">
						</div>
						<div class="mesItem">
							<div class="divLabelM2">
								<label>Statut dans la salle de la Statut</label>
								<label class="scoreM2">{{data.score2M3m2}}</label>
							</div>
							<input id="rangeM3m3" class="" type="range" min="0"  max="{{data.rangeM3}}" value="0" step="1" ng-model="data.range2M3m2" ng-change="rangeMission3(true)">
						</div>
						<div class="mesItem">
							<div class="divLabelM2">
								<label>Statut à l'intérieur du socle</label>
								<label class="scoreM2">{{data.score2M3m3}}</label>
							</div>
							<input id="rangeM3m4" class="" type="range" min="0"  max="{{data.rangeM3}}" value="0" step="1" ng-model="data.range2M3m3" ng-change="rangeMission3(true)">
						</div>
						<div class="mesItem">
							<div class="divLabelM2">
								<label>Base de la Statut lestée</label>
								<label class="scoreM2">{{data.score2M3m4}}</label>
							</div>
							<input id="rangeM3m5" class="" type="range" min="0"  max="{{data.rangeM3}}" value="0" step="1" ng-model="data.range2M3m4" ng-change="rangeMission3(true)">
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="cardMission">
			<div id="penalite" class=" mission relative">
				<div id="firstGroupeP" class="relative divMission mesItem">		
				  	<label disabled checked="false">Tablette dans les sarcophage</label>
	      			<label class="boolMission toggle disable-user-behavior"><input type="checkbox" ng-click="boolM1Click(data.boolM1)" ng-model="data.boolM1" value="20"><div class="track"><div class="handle"></div></div></label>
				</div>
				<div id="firstGroupeP" class="relative divMission mesItem">		
				  	<label disabled checked="false">Tablette dans les sarcophage</label>
	      			<label class="boolMission toggle disable-user-behavior"><input type="checkbox" ng-click="boolM1Click(data.boolM1)" ng-model="data.boolM1" value="20"><div class="track"><div class="handle"></div></div></label>
				</div>
				<div id="firstGroupeP" class="relative divMission mesItem">		
				  	<label disabled checked="false">Tablette dans les sarcophage</label>
	      			<label class="boolMission toggle disable-user-behavior"><input type="checkbox" ng-click="boolM1Click(data.boolM1)" ng-model="data.boolM1" value="20"><div class="track"><div class="handle"></div></div></label>
				</div>
			</div>
		</div>
		<hr>
	</ion-content>
</ion-view>