<ion-view view-title="Feuille des Missions">
	<ion-content>
		<div class="cardMission">
			<div class="title">
				<p>Mission 1</p>
			</div>
			<div id="mission1" class="relative">
				<div id="firstGroupe" class="relative divMissionBool">
					<label disabled checked="false">Tablette dans les sarcophage</label>
	      			<label class="boolMission toggle disable-user-behavior"><input type="checkbox" ng-model="test" value="on"><div class="track"><div class="handle"></div></div></label>
				</div>

				<div id="secondGroup" class="relative divMissionRadio">
					<ion-radio ng-model="choice" ng-value="'A'">Choose A</ion-radio>
					<ion-radio ng-model="choice" ng-value="'B'">Choose B</ion-radio>
					<ion-radio ng-model="choice" ng-value="'C'">Choose C</ion-radio>	
					<ion-radio ng-model="choice" ng-value="'D'">Choose D</ion-radio>	
				</div>

				
      			<br>
      			test : {{test}}
      			<br>
      			choice : {{choice}}
			</div>
			<hr>
		</div>
	</ion-content>
</ion-view>