#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    line-height: $header-height;

    text-align: center;
    border-bottom: 1px solid #777777;
    z-index: 8; // Over content and overlay, under menu
    &-menu-link {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #353535;
        border-bottom: 1px solid #777777;
        width: $width-nav;
    }

    &-title {
        position: relative;
        margin-left: 50px;
        background-color: #353535;
        border-bottom: 1px solid #777777;
    }
}